/* Project 5 */
table,
      th,
      td {
        border: 1px solid #e7e7e7;
      }
      .project {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: calc(100vh - 10vh);
      }

      .color {
        color: #f0f8ff;
        display: flex;
        flex-direction: row;
      }