/* Project 6 */
:root {
    --primary-button-light: #77b7d2;
    --primary-button-dark: #52859b;
    --font-white: #fff;
  }
  .btn-style {
    width: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-button-light);
    color: var(--font-white);
  }
  .btn-style:hover {
    background-color: var(--primary-button-dark);
    transition: ease-in-out 0.3s;
    cursor: pointer;
  }